<section id="about" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="heading ml-md-3">以 AI 為基礎，發展並建立智慧客服</h2>
        <div class="subheading">利用聊天機器人與使用者互動，自動化處理客戶需求，實現企業內、外部問與答</div>
        <ul class="feature-list">
          <li>協助真人客服回答重複性問題，降低客服成本</li>
          <li>即時答覆，縮短客戶等待時間，提高使用經驗</li>
          <li>多樣的回答格式，透過客服達到品牌完美行銷</li>
        </ul>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="{% asset "images/about-demo.gif" @path %}" alt="">
      </div>
    </div>
  </div>
</section>
