<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>合作夥伴</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="client-logo" style="background-image: url('/assets/images/client-dmtshop.png');"></div>
      </div>
      <div class="col-md-6">
        <div class="client-logo" style="background-image: url('/assets/images/client-drcyjhcc.png');"></div>
      </div>
    </div>
  </div>
</section>
