<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Facebook Customer Chat Plugin -->
<div class="fb-customerchat"
  attribution="setup_tool"
  page_id="{{ site.fb_customer_chat.page_id }}"
  theme_color="{{ site.fb_customer_chat.theme_color }}"
  logged_in_greeting="{{ site.fb_customer_chat.logged_in_greeting }}"
  logged_out_greeting="{{ site.fb_customer_chat.logged_out_greeting }}">
</div>
