<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand text-dark" href="#page-top">
      <img src="/assets/images/logo.svg" class="navbar-brand-logo d-inline-block align-middle" alt="">三倍智慧科技
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">產品服務</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#clients">客戶案例</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
